/* Default Settings */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

@media(max-width: 1080px){
  html{
    font-size: 93.75%;
    background: red;
  }
}

@media(max-width: 720px){
  html{
      font-size: 87.5%;
  }
}

body{
  background: var(--backgroundColor);
  color: var(--black);
}


html, body, #root{
  height: 100%;

}
*, button, input{
  border: 0;
  outline: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
}

div{
  display: flex;
}